/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.evento {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn{
    font-family: sans-serif;
    outline: 0;
    background: #1ca2a2;
    width: 3%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
}

.evento:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

